body, textarea {
    background: #0f0f23;
    color: #ccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
}

textarea {
    border: 1px solid #333340;
    background: #10101a;
    width: 100%;
    height: 10em;
}

button {
    background: none;
    border: none;
    font: inherit;
    padding: 0;
}

a, .a, button {
    outline: 0;
    text-decoration: none;
    color: #090;
    overflow-wrap: break-word;
    cursor: pointer;

    &:hover, &:focus {
      color: #9f9;
    }

    &.highlight {
        color: #0C0;
        text-shadow: 0 0 2px #0C0, 0 0 5px #0C0;

        &:hover, &:focus {
            color: #9f9;
            text-shadow: 0 0 2px #9f9, 0 0 5px #9f9;
        }
    }
}


h1, h2 {
    font-size: 1em;
    font-weight: normal;
    color: #fff;

}

h1::after {
    content: '---';
    margin-left: 0.5em;
}

h1::before {
    content: '---';
    margin-right: 0.5em;
}

#wrapper {
    max-width: 900px;
    margin: auto;
}

.muted {
    opacity: 0.5;
}
